In [2]:
# Import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [3]:
# Import population data from excel file
pop_data_file = Path("SUB-IP-EST2022-POP.xlsx") 

pop_data = pd.read_excel(pop_data_file)

pop_data.head(20)

,table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
1,Geographic Area,"April 1, 2020\nEstimates Base",Population Estimate (as of July 1),NaN,NaN
2,NaN,NaN,2020,2021.0,2022.0
3,"Abbeville city, Alabama",2355,2356,2361.0,2366.0
4,"Adamsville city, Alabama",4372,4360,4292.0,4224.0
5,"Addison town, Alabama",661,659,666.0,669.0
6,"Akron town, Alabama",227,226,226.0,221.0
7,"Alabaster city, Alabama",33330,33385,33741.0,33873.0
8,"Albertville city, Alabama",22392,22407,22544.0,22726.0
9,"Alexander City city, Alabama",14847,14822,14701.0,14636.0
10,"Aliceville city, Alabama",2172,2163,2121.0,2075.0
11,"Allgood town, Alabama",542,541,544.0,553.0
12,"Altoona town, Alabama",944,944,942.0,941.0
13,"Andalusia city, Alabama",8842,8844,8824.0,8790.0
14,"Anderson town, Alabama",253,253,254.0,254.0
15,"Anniston city, Alabama",21562,21513,21343.0,21182.0
16,"Arab city, Alabama",8443,8449,8501.0,8623.0
17,"Ardmore town, Alabama",1322,1335,1370.0,1393.0
18,"Argo town, Alabama",4361,4365,4379.0,4364.0
19,"Ariton town, Alabama",657,655,657.0,659.0